//color: Variables
$colorHeaderText: #ffffff;
$buttonColor: #ff4e50;
$nameSectionColor: #444444;
$smallTextColor: #666666;
//font-family: Variables;
$fontFamilyPrioritetText: "Montserrat", sans-serif;
$fontFamilySmallText: "Roboto", sans-serif;
